<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Preview Layout{% endblock %}</title>

    <link media="all" rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link media="all" rel="stylesheet" href="{{ '/styleguide/vendor/chosen-js/chosen.min.css'| path }}">
    <link media="all" rel="stylesheet" href="{{ '/styleguide/vendor/lightgallery/dist/css/lightgallery.min.css'| path }}">
    <link media="all" rel="stylesheet" href="{{ '/css/main.css' | path }}">
    <link media="all" rel="stylesheet" href="{{ '/css/styleguide.css'| path }}">

    <script>
      (function(d) {
        var config = {
              kitId: 'kgt4wbp',
              scriptTimeout: 3000,
              async: true
            },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>

    <!-- Load jQuery -->
    <script type="text/javascript" src="{{ '/styleguide/vendor/jquery/dist/jquery.min.js'|path }}"></script>

    <!-- Load jQuery UI -->
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{{ '/styleguide/vendor/lightgallery/dist/js/lightgallery.min.js'|path }}"></script>
    <script type="text/javascript" src="{{ '/styleguide/vendor/chosen-js/chosen.jquery.min.js'|path }}"></script>
    <script type="text/javascript" src="{{ '/styleguide/js/base.js'|path }}"></script>
    <script type="text/javascript" src="{{ '/styleguide/js/hamburger-menu.functions.js'|path }}"></script>
    <script type="text/javascript" src="{{ '/styleguide/js/hamburger-menu.binding.js'|path }}"></script>
    <script type="text/javascript" src="{{ '/styleguide/js/breadcrumbs.functions.js'|path }}"></script>
    <script type="text/javascript" src="{{ '/styleguide/js/breadcrumbs.binding.js'|path }}"></script>
    <script type="text/javascript" src="{{ '/styleguide/js/header.functions.js'|path }}"></script>
    <script type="text/javascript" src="{{ '/styleguide/js/header.binding.js'|path }}"></script>
    <script type="text/javascript" src="{{ '/styleguide/js/button-drop.functions.js'|path }}"></script>
    <script type="text/javascript" src="{{ '/styleguide/js/button-drop.binding.js'|path }}"></script>
    <script type="text/javascript" src="{{ '/styleguide/js/gallery.functions.js'|path }}"></script>
    <script type="text/javascript" src="{{ '/styleguide/js/gallery.binding.js'|path }}"></script>
    <script type="text/javascript" src="{{ '/styleguide/js/input-multiselect-chosen.binding.js'|path }}"></script>
    <script type="text/javascript" src="{{ '/styleguide/js/input-multiselect-chosen.functions.js'|path }}"></script>
    <script type="text/javascript" src="{{ '/styleguide/js/input-date.binding.js'|path }}"></script>
    <script type="text/javascript" src="{{ '/styleguide/js/input-date.functions.js'|path }}"></script>

    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style type="text/css">
      {% block inline_styles %}
        .preview-container {
          background-color: #ffffff;
          padding: 4% 0;
          overflow: hidden;
          min-height: 100vh;
        }
        .preview-inner-container {
          margin-bottom: 70px;
          display: inline-block;
          width: 100%;
        }
      {% endblock %}
    </style>
</head>
<body>

<div class="container ">

  <div class="preview-container">
    {% block content %}
      <div class="content-container">
        {{ yield | raw }}
      </div>
    {% endblock %}
  </div>

</div>


</body>
</html>
