<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Preview Layout{% endblock %}</title>

    <link media="all" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.2/chosen.css">

    <link media="all" rel="stylesheet" href="{{ '/css/main.css' | path }}">
    <link media="all" rel="stylesheet" href="{{ '/css/styleguide.css'| path }}">

    <link media="all" rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/jquery.swipebox/1.4.4/css/swipebox.min.css">

    <script>
      (function(d) {
        var config = {
              kitId: 'kgt4wbp',
              scriptTimeout: 3000,
              async: true
            },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.swipebox/1.4.4/js/jquery.swipebox.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.2/chosen.jquery.min.js"></script>

    <script type="text/javascript" src="{{ '/styleguide/js/hamburger-menu-lib.js'|path }}"></script>
    <script type="text/javascript" src="{{ '/styleguide/js/hamburger-menu-binding.js'|path }}"></script>
    <script type="text/javascript" src="{{ '/styleguide/js/breadcrumbs.js'|path }}"></script>
    <script type="text/javascript" src="{{ '/styleguide/js/header.js'|path }}"></script>
    <script type="text/javascript" src="{{ '/styleguide/js/button-drop.js'|path }}"></script>
    <script type="text/javascript" src="{{ '/styleguide/js/gallery.js'|path }}"></script>
    <script type="text/javascript" src="{{ '/styleguide/js/input-multiselect-chosen.js'|path }}"></script>

    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style type="text/css">
      .preview-container {
        background-color: #ffffff;
        padding: 4% 0;
        overflow: hidden;
        min-height: 50vh;
      }
      .preview-inner-container {
        margin-bottom: 70px;
        display: inline-block;
        width: 100%;
      }
    </style>
</head>
<body>

<div class="container ">

{% include '@header' with {
  "search_input_placeholder": "Wat wilt u vinden?",
  "search_submit_text": "Search",
  "search_submit_modifier": "inline icon icon-search icon-only"
} %}
{% include '@breadcrumbs' with {
  "items": [
    "<a href='#'>Stad.gent</a>",
    "<a href='#'>Overview</a>",
    "<span>Overview</span>",
    "<span>Overview</span>",
    "<span>Page title</span>"
  ]
} %}

  <div class="preview-container">
    {% block content %}
        <div class="content-container">
          {{ yield | raw }}
        </div>
    {% endblock %}
  </div>

  {% include '@footer' %}

</div>


</body>
</html>
